<nav class="flex items-center pl-4 border-b-4 border-b-primary py-4 font-normal">
    <a href="/" class="p-2">
        <img src="../../../../assets/NTTLogo.svg" alt="">
    </a>
    <div class="flex w-full justify-between"> 
        <div class="flex gap-3 ml-4">
            <a href="/sandbox">Solutions</a>
            <p>Services and products</p>
            <p>Insights and resources</p>
        </div>
        <div class="flex gap-3 mr-4">
            <p>About us</p>
            <p>Careers</p>
            <p>Contact</p>
            <p>n-US</p>
            <p>Search</p>
        </div>
    </div>
</nav>
