<footer>
  <div class="flex w-full justify-between p-[80px] border-t-2 border-t-primary">
    <div class="flex w-full">
        <div class="w-full">
            <p class="text-[12px] text-primary">SOLUTION</p>
            <div class="flex flex-col mt-6 text-[20px] font-light gap-y-[7px]">
                <a>Hybrid Workplace</a>
                <a>Technology Modernization</a>
                <a>Digital Acceleration</a>
                <a>Connected Industries</a>
            </div>
        </div>
        <div class="w-full">
            <p class="text-[12px] text-primary">SERVICES AND PRODUCTS</p>
            <div class="flex flex-col mt-6 text-[20px] font-light gap-y-[7px]">
                <a>Network as a Service</a>
                <a>Multicloud as a Service</a>
                <a>Edge as a Service</a>
                <a>Software-defined Infrastucture Services</a>
                <a>Global Data Centers</a>
                <a>Digital Collaboration and CX</a>
            </div>
        </div>
        <div class="w-full">
            <p class="text-[12px] text-primary">ABOUT NTT</p>
            <div class=" flex flex-col mt-6 text-[20px] font-light gap-y-[7px]">
                <a>Leadership</a>
                <a>Newsroom</a>
                <a>Locations</a>
                <a>Our partners</a>
                <a>Sustainability</a>
                <a>Innovation</a>
                <a>Industries</a>
                <a>Tour de France</a>
                <a>Red Bull Basement</a>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-between w-1/4">
        <div class="flex w-full justify-end">
            <img src="../../../../assets/NTTLogo.svg" alt="">
        </div>
        <div class="flex w-full justify-center gap-x-4">
            <mat-icon class="text-gray-500 text-base" fontIcon="home"></mat-icon>
            <mat-icon class="text-gray-500 text-base" fontIcon="home"></mat-icon>
            <mat-icon class="text-gray-500 text-base" fontIcon="home"></mat-icon>
            <mat-icon class="text-gray-500 text-base" fontIcon="home"></mat-icon>
            <mat-icon class="text-gray-500 text-base" fontIcon="home"></mat-icon>
        </div>
    </div>
  </div>
  <div class="flex w-full justify-between bg-primary px-[80px] py-[40px]">
    <ul class="flex flex-wrap text-white text-xs gap-x-[2rem]">
      <li href="">Contact us</li>
      <li href="">Legal</li>
      <li href="">Privacy</li>
      <li href="">Website terms of use</li>
      <li href="">Code of Conduct</li>
      <li href="">Cookie preferences</li>
      <li href="">Unsubscribe</li>
      <li href="">Report an ethics concern or fraud</li>
      <li href="">Modern slavery statement</li>
      <li href="">Sitemap</li>
      <li href="">Enfore my privacy rights</li>
      <li href="">Manage my communication preference</li>
    </ul>
    <div class="flex text-xs text-gray-300">
      <p>Copyright © 2022 NTT Limited</p>
    </div>
  </div>
</footer>
