<section class="w-full flex flex-col justify-center items-center">
  <div
    class="flex flex-col md:flex-row bg-primary justify-center h-full w-full"
  >
    <div
      class="flex flex-col justify-center text-white h-full items-start w-full px-[40px] pt-[22px] pb-[16px] md:py-[80px] md:pl-[190px] md:pr-[10px]"
    >
      <p class="text-[40px] font-normal">Speak to an expert</p>
      <p class="mt-[24px] text-[20px]">
        At NTT, we see an interconnected world where technology has the power to
        bring together people, data and things. For businesses, connection
        matters now more than ever, and we strive to help you continue to
        operate and adapt the way you work. Let us know how we can help you do
        great things.
      </p>
      <button class="mt-[40px] bg-white text-primary rounded-md px-4 py-2 text-sm flex items-center transition duration-200 hover:bg-gray-200 group">
        <p>Speak to our experts</p>
        <mat-icon class="ml-4 transition duration-500 group-hover:ml-8 animate-ease-in-out">arrow_forward</mat-icon>
      </button>      
    </div>
    <div class="w-full flex items-center lg:ml-56 p-16">
      <img
        src="../../../../assets/speak-expert.jpg"
        alt=""
        class="rounded-full w-[200px] h-[200px] md:w-[280px] md:h-[280px]"
      />
    </div>
  </div>
  <div
    class="flex max-w-[1440px] flex-col justify-center items-start py-[30px] sm:py-[40px] px-[22px] w-full"
  >
    <p>
      *Gartner, Magic Quadrant for Network Services, Global, Danellie Young,
      Karen Brown, Gaspar Valdivia, 22 February 2023
    </p>
    <br />
    <p>
      Gartner does not endorse any vendor, product or service depicted in its
      research publications, and does not advise technology users to select only
      those vendors with the highest ratings or other designation. Gartner
      research publications consist of the opinions of Gartner’s research
      organization and should not be construed as statements of fact. Gartner
      disclaims all warranties, expressed or implied, with respect to this
      research, including any warranties of merchantability or fitness for a
      particular purpose.
    </p>
    <br />
    <p>
      Gartner is a registered trademark and service mark and Magic Quadrant is a
      registered trademark of Gartner, Inc. and/or its affiliates in the U.S.
      and internationally and are used herein with permission. All rights
      reserved.
    </p>
  </div>
</section>
