<swiper-container initial-slide="0" slides-per-view="1" class="">
  <swiper-slide
    style="
      background-image: url('https://prodau-cdn.azureedge.net/-/media/ntt/global/homepage/ntt-v2/june-2023/cx-ex-report-homepage-banner-2880x1800.jpg?rev=8c0acb993a034d4c868d7dc7e656b2fd&mw=1440&hash=E0F847128D3AEAF684F63430F8061722');
    "
    class="bg-cover bg-no-repeat"
  >
    <section class="min-h-screen flex flex-col justify-center sm:justify-start items-center sm:items-start w-full">
        <div class="text-white flex flex-col justify-start items-start py-[40px] px-[22px] sm:py-[200px] sm:px-[80px] w-full md:w-3/5">
            <div class="flex gap-8">
                <p class="border-b-2 border-white pb-4">Tour de France</p>
                <p class="hidden sm:block border-b-2 border-gray-400 pb-4">2023 Global Customer Experience Report</p>
                <p class="hidden sm:block border-b-2 border-gray-400 pb-4">Software-defined Infrastructure Services</p>
                <p class="hidden sm:block border-b-2 border-gray-400 pb-4">Edge report</p>
            </div>
            <p class="text-[48px] sm:text-[70px] leading-none font-light mt-[24px]">Secure, grow and excel with edge as a service</p>
            <p class="text-[20px] mt-[40px]">
                The edge advantage brings intelligence, security and performance
                closer to where they’re needed.
            </p>
            <app-arrow-link class="mt-[60px]">Get the 2023 report</app-arrow-link>
        </div>
    </section>
  </swiper-slide>
</swiper-container>
